<% title "Site Theme Selection", false %>
<fieldset>
  <legend>Site Theme Selection</legend>

  <div id="style_options">
    <% @site_themes.each do |tp| %>
      <% form_for @site, :url => { :controller => 'sitethemes', :action => 'update', :subdomain => @site.title } do |f| %>
      <fieldset>
        <legend><%= tp.id %></legend>
        <div id="template_<%= tp.id %>" class="template_option">
          <div class="templatetitle"><%= tp.name %></div>
          <% @site.site_theme == tp ? klass = "current_style" :  klass = "other_style"  %>
          <%= link_to(image_tag(tp.icon.url(:small), :class => klass), tp.icon.url) %>
          <%= hidden_field_tag "site[site_theme]", "#{tp.id}"%>
            <div class="description-theme"><em>Click thumbnail for larger image.</em></div>
          <div class="center"><%= submit_tag "Use #{tp.name}" %></div>
        </div>
      </fieldset>
      <% end %>
    <% end %>
    <p class="center_text">
      <%= link_to "Manage Themes", site_themes_path %><br />
      <%= link_to "Custom Theme Information", static_path('themehelp') %>
    </p>
  </div>


</fieldset>
