<% title "Item location" %>

<% content_for :head do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= APP_CONFIG['google_api_key'] %>" type="text/javascript"></script>

  <%= javascript_include_tag 'google_location' %>
<% end %>

<% unless @item.google_location.blank? %>
  <div id='google_location'>
    <%= hidden_field_tag 'latitude', @item.latitude  %>
    <%= hidden_field_tag 'longitude', @item.longitude %>
  </div>
<% end %>

<% liquid_args = add_common_liquid_args %>
<% liquid_args['item'] = @item %>
<% liquid_args['map'] = '<div id="map_canvas" class="large_map_canvas"></div>' %>

<% template = Liquid::Template.parse(@site.site_theme.show_google_location_template.template) %>
<%= template.render(liquid_args, :filters => [LiquidFilters]) %>


<% content_for :css do %>
  <% template = Liquid::Template.parse( @site.site_theme.show_google_location_template.css) %>
  <%= template.render(liquid_args, :filters => [LiquidFilters]) %>
<% end %>