<div id='column_left'>
  {{ search_form }}
  
  <div id="items">
    {% for item in items %}
      {% if item == featured_item %}
        {% assign featured = 'featured' %}
      {% else %}
        {% assign featured = 'not_featured' %}
      {% endif %}
      <div id='item_row_{{item.id}}' class="{% cycle 'group 1': 'odd', 'even' %} {{ featured }}">
        <h3>{{ item.title | link_to: item.path, search_params }}</h3>
        <div class="item_image">
          {% if item.first_image %}
            <a target='_blank' href='{{item.path}}{{ search_params | hash_to_query }}'><img src='{{ item.first_image.thumb_url }}'/></a>
          {% endif %}
        </div>
        <div class="item_info">
        <p>
          <b>By:</b> {% for author in item.authors %} {{ author.name | link_to: author.path, search_params }} {% endfor %}
         </p>
         <p>
          <b>Categories:</b> {% for category in item.categories %} {{ category.name }}{% if forloop.last %}.{% else %},{% endif %} {% endfor %}
         </p>
         <p>
          {% if item.location %}<b>Location:</b> {{ item.location | truncate: 30 }}{% endif %}
          {% if item.date %}<b>Date: </b>{{item.date}}{% endif %}
        </p>
        </div>
      </div>
    {% endfor %}
  </div>
  
  {{ pagination }}
</div>