<% title "Edit Membership" %>

<% form_for [@site, @membership] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :disabled => 'disabled' %>
  </p>
  <p>
    <%= f.label :role %>
    <%= f.collection_select :role_id, Role.all, :id, :name %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

<p><%= link_to "Back to users", site_memberships_path(@site) %></p>
