<% title "Edit Membership" %>

<% form_for [@site, @membership] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :disabled => 'disabled' %>
  </p>
  <p>
    <% current_role = @membership.user.has_role?(:admin, @site) ? 'admin' : 'editor' %>
    <% options = options_for_select({"Admin" => "admin", "Editor" => "editor"}, current_role) %>
    <%= f.label :role %>
    <%= select_tag "role", options %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

<p><%= link_to "Back to users", site_memberships_path(@site) %></p>
