<% title "Contributors" %>

<table>
  <tr>
    <th>email</th>
    <th>role</th>
  </tr>
  <% for membership in @memberships %>
    <tr>
      <td><%= sanitize membership.user.email %></td>
      <td><%= membership.user.roles_for(@site).map { |r| r.name }.join(', ') %></td>
      <% if !membership.user.has_role?(:owner, @site) %>
        <td><%= link_to "Edit user", edit_site_membership_path(@site, membership) %></td>
        <td><%= link_to "Remove user", site_membership_path(@site, membership), :confirm => 'Are you sure?', :method => :delete, :id => "remove_user_#{membership.user.id}" %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "Add user", new_site_membership_path(@site) %></p>
