<div id='container'>
  <div id='header'>
    <h1 id='sitename'>
      {{ site.name || link_to: home_path }}
    </h1>
    <div id='navbar'>
      {{ navigation }}
    </div>
  </div>
  {{ breadcrumb }}

  <div id='main'>
    {{ yield }}
  </div>
  <div class='spacer'></div>
  <div id='footer'>{{ sp_logo }}</div>
</div>