<% title "Google location page" %>

<% form_for [@show_google_location_template], :url => { :controller => :show_google_location_template, :action => :update } do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.label :template %>
  <%= f.text_area :template %>
  </p>
  <p>
    <%= f.label :css %>
    <%= f.text_area :css %>
  </p>
  <%= f.submit "Save" %>
<% end %>


