<% form_for [@site, @item], :builder => AdminFormBuilder,:url => {:controller => 'user/items', :action => action, :subdomain => @site.title}, :html => { :multipart => true } do |f| %>
<fieldset>
  <%= f.error_messages %>
  <%= f.legend @singular, :new => f.object.new_record? %> 

  <fieldset class="title">
    <legend>Title</legend>
    <%= f.text_field :title, :label_class => "red_hot" %>
  </fieldset>
  
  <fieldset class="people">
    <legend>People</legend>
    <%= add_person_link "Add an existing person" %><br />
    <%= add_new_person_link "Add a new person" %><br />
    <div id="new_people">
    </div>
  </fieldset>
  
  <fieldset class="palces">
    <legend>Places</legend>
    <%= f.text_area :location, :rows => 4 %>
  </fieldset>
  
  <fieldset class="details">
    <legend>Details</legend>
      <%= f.check_box :published %>
      <%= f.text_field :reference_number, :label => "Reference No" %>
      <%= f.text_field :publisher %>

    <% unless @site.document_types.blank? %>
        <%= f.collection_select :document_type_id, @site.document_types.all, :id, :name, :include_blank => true, :label => "Document Type" %>
    <% end %>
    
      <%= f.text_field :year %>
      <%= f.field_label_with_colon "Month" %><%= select_month @item.month, :include_blank => true , :label => "Month" %><br/
      <%= f.field_label_with_colon "Day" %><%= select_day @item.day, :include_blank => true, :label => "Day"  %>
      <%= f.text_field :date_details, :label => "Date Details"  %>
      <%= f.text_field :dimensions %>
      <%= f.text_field :pagination %>
      <%= f.text_field :city %>
      <%= f.text_field :illustrations %>
      
  </fieldset> 
  <fieldset class="notes">
    <legend>Notes</legend>
    <%= f.text_area :notes, :rows => 10 %>
  </fieldset>
  <fieldset class="full_text">
    <legend>Full Text</legend>
    <%= f.text_area :full_text, :rows => 10, :label => "Full Text"  %>
  </fieldset>

  <fieldset id="categories">
    <legend>Categories</legend>
    <% unless @site.categories.blank? %>
      <%= f.label :categories %>
      <% for category in @item.categories %>
        <div class="thin_field">
          <%= f.label "#{category.name}" %>
          <%= hidden_field_tag "item[categories_list][]", "#{category.id}", :id => "existing_category_#{category.id}" %>
          <%= link_to_function "[remove]", "$(this).parent().remove()" %>
        </div>
      <% end %>
    <% end %>
    <%= hidden_field_tag "item[categories_list][]", "-1", :id => "hidden_category_-1" %>
    <% unless @site.categories.blank? %>
      <%= add_category_link "Add Category" %>
    <% end %>
      <br /><br />
  </fieldset>
  
  <fieldset id="media">
    <legend>Photos and Media</legend>
    <div id="new_photos">
      <%= render :partial => 'photo', :collection => @item.photos.reject { |p| !p.new_record? } %>
      <%= hidden_field_tag "item[photos_list][]", "-1" %><!-- <hack>hidden field so that photos_list= will always be called. -1 value is ignored.</hack> -->
    </div>
    <div class="existing_photos"><br />
      <%= render :partial => "item_photo", :collection => @item.photos.reject { |p| p.new_record?} %>
    </div>
    <%= add_photo_link "Add photo" %>
    <br /><br />
    
    <div class="existing_media_files">
      Media Files:
      <%= render :partial => "item_media_file", :collection => @item.media_files.reject { |m| m.new_record?} %>
    </div>
    <div id="new_media_files">
      <%= render :partial => 'media_file', :collection => @item.media_files.reject { |m| !m.new_record? } %>
      <%= hidden_field_tag "item[media_files_list][]", "-1" %><!-- <hack>hidden field so that media_files_list= will always be called. -1 value is ignored. This is done so removing media files will work even when none are being added.</hack> -->
    </div>
    <%= add_media_link "Add media file" %>
    <br /><br />
  </fieldset>


  <!-- ADVANCED DATA HIDDEN UNLESS NEEDED -->
  <fieldset id="advacned">
  <legend>Advanced Options</legend>
  <div class="advanced_toggle">
    <%= toggle_advanced_fields "SHOW/HIDE ADVANCED OPTIONS" %>
  </div>
  <div id="advanced_properties">
    <%= f.text_area :introduction %>
    <%= f.text_area :publisher_details %>
    <%= f.text_field :seller %>
    <%= f.text_area :seller_details %>
    <%= f.text_field :printer %>
    <%= f.text_area :printer_details %>
    <%= f.text_field :binder %>
    <%= f.text_area :binder_details %>
    <%= f.text_field :price %>
    <%= f.check_box :serialized %>
    <%= f.text_area :footnotes %>
    <%= f.text_area :endnotes %>
    <%= f.text_field :index %>
    <%= f.text_area :advertisements %>
    <%= f.text_field :item_binding %>
    <%= f.text_field :edges %>
    <%= f.check_box :foxing %>
    <%= f.text_field :provenance %>
    <%= f.text_field :marginalia %>
    <%= f.text_area :summary_of_contents %>
    <%= f.label :references %>
    <%= f.text_area :references %>
    <br />

  </div>
  </fieldset>
  
  <br />
  <!-- END OF THE ADVANCED OPTIONS -->

  <div class="submit"><%= f.submit "Save" %></div>
</fieldset>
<% end %>