<div id="item_content">
  <h2><%= sanitize(item.title) + ' ' + item.id.to_s %></h2>

  <div id="item_top">
    <div id="photos">
      <% photos = item.photos %>

      <% unless photos.empty? %>
        <div id="current_photo">
          <%= render(:partial => 'photos/large_photo', :object => photos.first) %>
        </div>
      <% end %>

      <div id="photo_icons">
        <%= render(:partial => 'photos/small_photo', :collection => photos) %>
      </div>

    </div>
  </div>

  <div id="item_bottom">
    <div id="textinfo">
      
      <% if @next_item || @previous_item %>
        <div id="next_previous_links" class="center_text">
          <% if @previous_item %>
            <%= link_to h("<<Previous #{@singular}"), itemadmin_path(@previous_item, get_search_params(params).merge(:subdomain => @site.title)), :id => 'previous_item_link' %>
          <% else %>
            <span class="disabled_link"><%= h("<<Previous #{@plural}") %></span>
          <% end %>
          <% if @next_item %>
            <%= link_to h("Next #{@singular}>>"), itemadmin_path(@next_item, get_search_params(params).merge(:subdomain => @site.title)), :id => 'next_item_link' %>
          <% else %>
            <span class="disabled_link"><%= h("Next #{@singular}>>") %></span>
          <% end %>
        </div>
      <% end %>
      <h2>DETAILS</h2>
      <div id="item_<%= item.id %>">
        <p>
          <strong>Title:</strong>
          <%= sanitize(item.title) + ' ' + item.id.to_s %>
        </p>
        
        <% unless item.authors.empty? %>
          <p>
            <strong>Authors:</strong>
            <% for author in item.authors %>
              <p>
                <%= link_to author.name, authoradmin_path(author, :subdomain => @site.title)%>
              </p>
            <% end %>
          </p>
        <% end %>
        <% unless item.categories.blank? %>
          <strong>Categories:</strong>
          <% for category in item.categories %>
            <p>
              <%= sanitize(category.name) %>
            </p>
          <% end %>
        <% end %>
                      
        <% unless item.year.blank? %>
          <p>
            <strong>Year:</strong>
            <%= item.year %>
          </p>
        <% end %>
        <% unless item.month.blank? %>
          <p>
            <strong>Month:</strong>
            <%= Date::MONTHNAMES[item.month] %>
          </p>
        <% end %>
        <% unless item.day.blank? %>
          <p>
            <strong>Day:</strong>
            <%= item.day %>
          </p>
        <% end %>
        
        
        <% unless item.date_details.blank? %>
          <p>
            <strong>Date details:</strong>
            <%= sanitize item.date_details %>
          </p>
        <% end %>
        <% unless item.location.blank? %>
          <p>
            <strong>Location:</strong>
            <%= sanitize item.location %>
          </p>
        <% end %>
        
        

        <% unless item.dimensions.blank? %>
          <p>
            <strong>Dimensions:</strong>
            <%= sanitize item.dimensions %>
          </p>
        <% end %>
        <% unless item.illustrations.blank? %>
          <p>
            <strong>Illustrations:</strong>
            <%= sanitize item.illustrations %>
          </p>
        <% end %>
        <% unless item.notes.blank? %>
          <p>
            <strong>Notes:</strong>
            <%= sanitize item.notes %>
          </p>
        <% end %>
        <% unless item.reference_number.blank? %>
          <p>
            <strong>Reference Number:</strong>
            <%= sanitize item.reference_number %>
          </p>
        <% end %>
        <% unless item.city.blank? %>
          <p>
            <strong>City:</strong>
            <%= sanitize item.city %>
          </p>
        <% end %>
        <% unless item.document_type.blank? %>
           <p>
             <strong>Document Type:</strong>
             <%= sanitize item.document_type.name %>
           </p>
         <% end %>
         <% unless item.full_text.blank? %>
           <p>
             <%= link_to "Full Text", itemadmin_full_text_path(@item, :subdomain => @site.title) %>
           </p>
         <% end %>
         <% unless item.google_location.blank? %>
          <p>
            <strong><%= link_to "View location on map", itemadmin_google_location_path(@item, get_search_params(params)) %></strong>
          </p>
         <% else %>
          <p>
            <strong><%= link_to "Set location on google map", edit_itemadmin_google_location_path(@item, get_search_params(params)) %></strong>
          </p>
         <% end %>
         <% unless item.media_files.blank? %>
           <p id="media_files">
             <strong>Media Files:</strong><br>
             <% item.media_files.each do |media_file| %>
               <%= link_to media_file.display_name, media_file.file.url, :target => "_blank" %>
             <% end %>
           </p>
         <% end %>
      </div>
    </div>
  </div>
</div>