<div class="new_media_file">
  <% fields_for "item[media_file_attributes][]", media_file do |m| %>
    <%= m.label :file, "File:" %>
    <%= m.file_field :file %><br />
    <%= m.label :title, "File Title:" %>
    <%= m.text_field :title %><br />
    <%= m.label :file_type, "File Type:" %>
    <%= select_tag 'item[media_file_attributes][][file_type]',
      options_for_select({ "Macromedia Flash" => "SWF", "MP3 Audio File" => "MP3", "Quicktime Movie" =>
         "MOV", "PDF" => "PDF", "Windows Media" => "WMV", "" => "" }, media_file.file_type), :id => "item_media_file_attributes__file_type" %>
    <%= link_to_function "[remove]", "$(this).parent().remove()" %>
  <% end %>
</div>
