<% form_for [@site, @author], :builder => AdminFormBuilder, :url => {:controller => 'user/authors', :action => action, :subdomain => @site.title} do |f| %>
<fieldset>
  <%= f.error_messages %>
  <% if f.object.new_record? %>
  <legend>New Author</legend>
  <% else %>
  <legend>Edit Author</legend>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_field :gender %>
  <%= f.text_area :description, :rows => 4 %>

  <div class="submit"><%= f.submit "Submit" %></div>
</fieldset>
<% end %>