<% title "Authors" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for author in @authors %>
    <tr>
      <td><%= sanitize author.name %></td>
      <td><%= sanitize author.description %></td>
      <td><%= link_to "Show", authoradmin_path(author, :subdomain => @site.title) %></td>
      <td><%= link_to "Edit", edit_authoradmin_path(author, :subdomain => @site.title) %></td>
      <td><%= link_to "Destroy", authoradmin_path(author, :subdomain => @site.title), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Author", new_authoradmin_path(:subdomain => @site.title) %></p>
