<% title "Document Type" %>

<p>
  <strong>Name:</strong>
  <%= sanitize @document_type.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= sanitize @document_type.description %>
</p>

<p>
  <%= link_to "Edit", edit_document_type_path(@document_type, :subdomain => @site.title) %> |
  <%= link_to "Destroy", document_type_path(@document_type, :subdomain => @site.title), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", document_types_path(:subdomain => @site.title) %>
</p>
