<% title "Item location" %>

<% content_for :head do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= APP_CONFIG['google_api_key'] %>" type="text/javascript"></script>

  <%= javascript_include_tag 'google_location' %>
<% end %>

<h2><%= link_to @item.title, item_path(@item, :subdomain => @site.title) %></h2>

<div id="map_canvas" class="large_map_canvas"></div>

<% unless @item.google_location.blank? %>
  <div id='google_location'>
    <%= hidden_field_tag 'latitude', @item.latitude  %>
    <%= hidden_field_tag 'longitude', @item.longitude %>
  </div>
<% end %>