<% title "Authors" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for author in @authors %>
    <tr>
      <td><%=h author.name %></td>
      <td><%=h author.description %></td>
      <td><%= link_to "Show", site_author_path(@site, author) %></td>
      <td><%= link_to "Edit", edit_site_author_path(@site, author) %></td>
      <td><%= link_to "Destroy", site_author_path(@site, author), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Author", new_site_author_path(@site) %></p>
