<% title "Author" %>

<% content_for :header_links do %>
  <% if @site.users.include? current_user %>
    | <%= link_to "Edit this author", edit_author_path(@author, :subdomain => @site.title) %>
    | <%= link_to "View all authors", authors_path(:subdomain => @site.title) %>
  <% end %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= sanitize @author.name %>
</p>
<p>
  <strong>Gender:</strong>
  <%= sanitize @author.gender %>
</p>
<p>
  <strong>Description:</strong>
  <%= sanitize @author.description %>
</p>
