<fieldset>
<% if form.object.new_record? %>
    <legend>Sign Up</legend>
    <div class="thin_field">
      <%= form.label :email, "Email Address:" %>
      <%= form.text_field :email %>
    </div>
<%else%>
  <legend>Change Password</legend>
<% end %>
<div class="thin_field">
  <%= form.label :password, form.object.new_record? ? "Password:" : "New Password:" %>
  <%= form.password_field :password %>
</div>
<div class="thin_field">
  <%= form.label :password_confirmation, "Password Confirmation:" %>
  <%= form.password_field :password_confirmation %>
</div>
<% if form.object.new_record? %>
  <div class="submit"><%= form.submit "Sign Up" %></div>
<%else%>
  <div class="submit"><%= form.submit "Update" %></div>
<% end %>
</fieldset>