<% title "Site Style", false %>
<fieldset>
<legend>Site Style</legend>

<div id="style_options">
  <em>Click thumbnail for larger image.</em><br /><br />
  <% ['default', 'default_hex', 'parchment'].each do |style| %>
    <% form_for @site, :url => { :controller => 'sitestyles', :action => 'update' } do |f| %>
      <div id="style_<%= style %>" class="style_option">
        <div class="styletitle"><%= style %></div>
        <% @site.style == style ? klass = "current_style" :  klass = "other_style"  %>
        <% image = image_tag("/stylesheets/#{style}/#{style}_t.jpg", :class => klass) %>
        <%= link_to(image, "/stylesheets/#{style}/#{style}.jpg", :target => '_blank') %><br />
        <%= hidden_field_tag "site[style]", "#{style}"%>
        <div class="center"><%= submit_tag "Use #{style}" %></div>
      </div>
    <% end %>
  <% end %>
</div>

</fieldset>
