<% title "Document Type" %>

<p>
  <strong>Name:</strong>
  <%=h @document_type.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @document_type.description %>
</p>

<p>
  <%= link_to "Edit", edit_site_document_type_path(@site, @document_type) %> |
  <%= link_to "Destroy", site_document_type_path(@site, @document_type), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", site_document_types_path(@site) %>
</p>
