<% form_for @site_theme,:builder => AdminFormBuilder, :html => { :multipart => true } do |f| %>
<fieldset>
  <legend>theme details</legend>
  <%= error_messages_for :site_theme %>
  <%= f.text_field :name %>

  <div>
    <%= f.label :icon, "Icon:" %>
    <%= image_tag @site_theme.icon.url(:small) %>
    <%= f.file_field :icon %>
  </div>
  <div class="submit"><%= f.submit button_label %></div>
</fieldset>
<% end %>
