<% title sanitize @narrative.title %>
<div class="narrative_content">
<h2><%= sanitize @narrative.title %></h2>
<h3> <%= sanitize @narrative.description %> </h3>
<div class="section">
  <% @sections.each do |section| %>
    <div class="narrative_section">
      <div class="narrative_section_audio">
        <% if section.media && section.media.media_files && embed_audio(section.media.media_files) %>
        <object type="application/x-shockwave-flash" data="/swf/dewplayer-multi.swf?<%=embed_audio(section.media.media_files)%>&amp;autostart=1&amp;autoreplay=0&amp;nopointer=1&amp;bgcolor=00A0C6" width="240" height="20" id="dewplayer-multi">
          <param name="movie" value="/swf/dewplayer-multi.swf?<%=embed_audio(section.media.media_files) %>&amp;autostart=1&amp;autoreplay=0&amp;nopointer=1&amp;bgcolor=00A0C6" />
        </object>
        <% end %>
      </div>
      <div class="narrative_section_image">
        <% if   section.media && section.media.photos && section.media_index && section.media.photos[section.media_index] %>
          <div id="photos">
            <% photos = section.media.photos %>

            <% unless photos.empty? %>
              <% unless photos.count == 1 %>
                <div class="narrative_photo_icons">
                  <%= render(:partial => 'photos/small_narrative_photo', :collection => photos) %>
                </div>
              <% end %>
               <div id="current_photo">
                 <%= render(:partial => 'photos/narrative_photo', :object => section.media.photos[section.media_index]) %>
              </div><br />
              <%= link_to section.media.title, item_path(section.media, :subdomain => @site.title) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="narrative_section_content">
        <%= textilize section.content %>
      </div>
    </div>
  <% end %>
</div>  
<%= will_paginate @sections %><br /><br />
<%= link_to 'Edit', edit_narrativeadmin_path(@narrative) %> |
<%= link_to 'Back', narrativeadmin_index_path %>
</div>