<% title sanitize @narrative.title %>
<div class="narrative_content">
<h2><%= sanitize @narrative.title %></h2>
<h3> Description </h3>
<p>
  <%= sanitize @narrative.description %>
</p>
<div class="section">
  <% @narrative.sections.each do |section| %>
    <div class="narrative_section">
    <% if section.media && section.media.photos && section.media_index && section.media.photos[section.media_index] %>
      <%= image_tag(section.media.photos[section.media_index].photo.url(:thumb), :alt => "", :class => "narrative_image") %><i><%= section.media.title %></i>
    <% end %>
    <%= textilize section.content %>
    </div>
  <% end %>
</div>
<%= link_to 'Edit', edit_narrativeadmin_path(@narrative) %> |
<%= link_to 'Back', narrativeadmin_index_path %>
</div>