<div id='column_left'>
  {{ photos }}
</div>

<div id='column_right' class='view_artifact'>
  {{ next_prev_links }}
  <h2>DETAILS</h2>
  <div id='item_{{ id }}'>
    <p>
      <strong>Title:</strong>
      {{ item.title }}
    </p>


    {% for author in item.authors %}
      {% if forloop.first %}
        <strong>Authors:</strong>
      {% endif %}
      <p>
        {{ author.name | link_to: author.path, search_params }}
      </p>
    {% endfor %}

    {% for category in item.categories %}
      {% if forloop.index == 1 %}
        <strong>Categories:</strong>
      {% endif %}
      <p>
        {{ category.name }}
      </p>
    {% endfor %}

    {% if item.year %}
      <p>
      <strong>Year:</strong>
        {{ item.year }}
      </p>
    {% endif %}
    {% if item.month %}
      <p>
      <strong>Month:</strong>
        {{ item.month }}
      </p>
    {% endif %}
    {% if item.day %}
      <p>
      <strong>Day:</strong>
        {{ item.day }}
      </p>
    {% endif %}

    {% if item.date_details %}
      <p>
      <strong>Date Details:</strong>
        {{ item.date_details }}
      </p>
    {% endif %}

    {% if item.location %}
      <p>
      <strong>Location:</strong>
        {{ item.location }}
      </p>
    {% endif %}

    {% if item.publisher %}
      <p>
      <strong>Publisher:</strong>
        {{ item.publisher }}
      </p>
    {% endif %}
      {% if item.pagination %}
      <p>
      <strong>Pagination:</strong>
        {{ item.pagination }}
      </p>
    {% endif %}

     {% if item.dimensions %}
      <p>
      <strong>Dimensions:</strong>
        {{ item.dimensions }}
      </p>
    {% endif %}

    {% if item.illustrations %}
      <p>
      <strong>Illustrations:</strong>
        {{ item.illustrations }}
      </p>
    {% endif %}

    {% if item.reference_number %}
      <p>
      <strong>Reference Number:</strong>
        {{ item.reference_number }}
      </p>
    {% endif %}

    {% if item.city %}
      <p>
      <strong>City:</strong>
        {{ item.city }}
      </p>
    {% endif %}

    {% if item.document_type %}
      <p>
      <strong>Document Type:</strong>
        {{ item.document_type.name }}
      </p>
    {% endif %}

    {% for data in item.custom_datas %}
      <p>
        <strong>{{data.name}}:</strong> {{ data.value }}
      </p>
    {% endfor %}

    {% if item.google_location %}
      <strong>Google Location:</strong>
      <p>
        {{ 'View location on map' | link_to: item.google_location_path, search_params }}
      </p>
    {% endif %}

    {% for mf in item.media_files %}
      {% if forloop.first %}
        <strong>Media Files:</strong>
      {% endif %}
      <div id='media_file_link'>
        {{ mf.display_name | link_to: mf.path }}
      </div>
      <br />
    {% endfor %}

    {% if item.notes %}
      <strong>Notes:</strong>
      <p>
        {{ item.notes }}
      </p>
    {% endif %}

    {% if item.full_text %}
      <strong>Full Text:</strong>
      <p>
        {{ 'Full Text' | link_to: item.full_text_path, search_params }}
      </p>
    {% endif %}

  </div>
</div>