<% form_for [@site, @item], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <div id="photos">
    <%= render :partial => 'photo', :collection => @item.photos %>
  </div>
  <%= link_to_function "Add photo", "add_p_to_element(#{render(:partial => 'photo', :object => Photo.new)}, 'photos')" %>
  <br /><br />
  <div class="item_photos">
    Existing photos -- check to delete <br />
    <%= render :partial => "item_photo", :collection => @item.photos %>
  </div>
  <p><%= f.submit "Submit" %></p>
<% end %>