<% form_for [@site, @item], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <div id="authors">
    <%= f.label :authors %>
    <% for author in @item.authors %>
      <p>
        <%= f.label "#{author.name}" %>
        <%= hidden_field_tag "item[authors_list][]", "#{author.id}" %>
        <%= link_to_function "[remove author]", "remove_parent_element($(this))" %>
      </p>
    <% end %>
  </div>
  <%= link_to_function "Add author", "add_p_to_element(#{render(:partial => 'author')}, 'authors')" %>
  <!-- <hack>hidden select so that authors_list= will always be called in the model. -1 value is ignored. This is done so removing authors will work even when none are being added.</hack> -->
  <div class="hidden">
    <%= select_tag "item[authors_list][]", "<option value='-1'></option>" %>
  </div>
  <p>
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </p>
  <p>
    <%= f.label :reference_number %><br />
    <%= f.text_field :reference_number %>
  </p>
  <p>
    <%= 'Date: (yyyy/mm/dd)' %><br />
    <%= f.text_field :date_string %>
  </p>
  <p>
    <%= f.label :date_details %><br />
    <%= f.text_field :date_details %>
  </p>
  <p>
    <%= f.label :dimensions %><br />
    <%= f.text_field :dimensions %>
  </p>
  <p>
    <%= f.label :pagination %><br />
    <%= f.text_field :pagination %>
  </p>
  <p>
    <%= f.label :illustrations %><br />
    <%= f.text_field :illustrations %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <div id="photos">
    <%= render :partial => 'photo', :collection => @item.photos %>
  </div>
  <%= link_to_function "Add photo", "add_p_to_element(#{render(:partial => 'photo', :object => Photo.new)}, 'photos')" %>
  <br /><br />
  <div class="item_photos">
    Existing photos -- check to delete <br />
    <%= render :partial => "item_photo", :collection => @item.photos %>
  </div>
  <p><%= f.submit "Submit" %></p>
<% end %>