<% form_for [@site, @item], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <div id="authors">
    <% unless @item.authors.blank? %>
      <%= f.label :authors %>
      <% for author in @item.authors %>
        <p>
          <%= f.label "#{author.name}" %>
          <%= hidden_field_tag "item[authors_list][]", "#{author.id}", :id => "existing_author_#{author.id}" %>
          <%= link_to_function "[remove author]", "remove_parent_element($(this))" %>
        </p>
      <% end %>
    <% end %>
    <!-- <hack>hidden field so that authors_list= will always be called in the model. -1 value is ignored. This is done so removing authors will work even when none are being added.</hack> -->
    <%= hidden_field_tag "item[authors_list][]", "-1", :id => "hidden_author_-1" %>
  </div>
  <% unless @site.authors.blank? %>
    <%= link_to_function "Add author", "add_p_to_element(#{render(:partial => 'author')}, 'authors')" %>
  <% end %>
  <p>
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </p>
  <p>
    <%= f.label :reference_number %><br />
    <%= f.text_field :reference_number %>
  </p>
  <div id="categories">
    <% unless @site.categories.blank? %>
    <%= f.label :categories %>
      <% for category in @item.categories %>
        <p>
          <%= f.label "#{category.name}" %>
          <%= hidden_field_tag "item[categories_list][]", "#{category.id}", :id => "existing_category_#{category.id}" %>
          <%= link_to_function "[remove category]", "remove_parent_element($(this))" %>
        </p>
      <% end %>
    <% end %>
    <%= hidden_field_tag "item[categories_list][]", "-1", :id => "hidden_category_-1" %>
  </div>
  <% unless @site.categories.blank? %>
    <%= link_to_function "Add category", "add_p_to_element(#{render(:partial => 'category')}, 'categories')" %>
  <% end %>
  <% unless @site.document_types.blank? %>
    <p>
      <%= f.label :document_type %>
      <%= f.collection_select :document_type_id, @site.document_types.all, :id, :name, :include_blank => true %>
    </p>
  <% end %>
  <p>
    <%= 'Date: (yyyy/mm/dd)' %><br />
    <%= f.text_field :date_string %>
  </p>
  <p>
    <%= f.label :date_details %><br />
    <%= f.text_field :date_details %>
  </p>
  <p>
    <%= f.label :dimensions %><br />
    <%= f.text_field :dimensions %>
  </p>
  <p>
    <%= f.label :pagination %><br />
    <%= f.text_field :pagination %>
  </p>
  <p>
    <%= f.label :illustrations %><br />
    <%= f.text_field :illustrations %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_area :location, :rows => 3 %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 10 %>
  </p>
  <div id="photos">
    <div class="existing_photos"><br />
      <%= render :partial => "item_photo", :collection => @item.photos.reject { |p| p.new_record?} %>
    </div>
    <div id="new_photos">
      <%= render :partial => 'photo', :collection => @item.photos.reject { |p| !p.new_record? } %>
      <!-- <hack>hidden field so that photos_list= will always be called in the model. -1 value is ignored. This is done so removing photos will work even when none are being added.</hack> -->
      <%= hidden_field_tag "item[photos_list][]", "-1" %>
    </div>
    <%= link_to_function "Add photo", "add_p_to_element(#{render(:partial => 'photo', :object => Photo.new)}, 'new_photos')" %>
    <br /><br />
  </div>
  <p>
    <%= f.label :full_text %><br />
    <%= f.text_area :full_text, :rows => 20 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>