<table id="items">
  <tr>
    <th>Title</th>
    <th>First photo</th>
    <th>Authors</th>
    <th>Date</th>
    <th>Publisher</th>
    <th>Reference Number</th>
  </tr>
  <% for item in items %>
    <tr id="item_row_<%= item.id %>">
      <td><%=h item.title %></td>
      <td>
        <% if item.photos.first %>
          <%= image_tag item.photos.first.photo.url(:thumb), :alt => "" %>
        <% end %>
      </td>
      <td><%= item.authors.map{|a| a.name}.join(", ") %></td>
      <td><%= item.date_string %></td>
      <td><%= item.publisher %></td>
      <td><%= item.reference_number %></td>
      
      <td><%= link_to "Show", site_item_path(@site, item) %></td>
      <% if @site.users.include? current_user %>
        <td><%= link_to "Edit", edit_site_item_path(@site, item) %></td>
        <td><%= link_to "Destroy", site_item_path(@site, item), :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= will_paginate items %>