<% rdfa_resource site_item_path(@site, item) do %>
<div id="left">
  <div id="leftcontent">
    <div id="photos">
      <% photos = item.photos %>

      <% unless photos.empty? %>
        <div id="current_photo">
          <%= render(:partial => 'photos/large_photo', :object => photos.first) %>
        </div>
      <% end %>

      <div id="photo_icons">
        <%= render(:partial => 'photos/small_photo', :collection => photos) %>
      </div>

    </div>
  </div>
</div>

<div id="right" class="viewtext">
  <div id="rightcontent">
    <div id="textinfo">
      <% if @next_item || @previous_item %>
        <div id="next_previous_links">
          <% if @previous_item %>
            <%= link_to h("<<Previous Item"), site_item_path(@site, @previous_item, params), :id => 'previous_item_link' %>
          <% else %>
            <span class="disabled_link"><%= h("<<Previous Item") %></span>
          <% end %>
          <% if @next_item %>      
            <%= link_to h("Next Item>>"), site_item_path(@site, @next_item, params), :id => 'next_item_link' %>
          <% else %>
            <span class="disabled_link"><%= h("Next Item>>") %></span>
          <% end %>
        </div>
      <% end %>
      <h2>DETAILS</h2>
      <div id="item_<%= item.id %>">
        <p>
          <strong>Title:</strong>
          <%= rdfa_title sanitize(item.title) + ' ' + item.id.to_s %>
        </p>
        
        <% unless item.authors.empty? %>
          <p>
            <strong>Authors:</strong>
            <% for author in item.authors %>
              <p>
                <%= rdfa_link_to_creator author.name, site_author_path(@site, author)%>
              </p>
            <% end %>
          </p>
        <% end %>
        <% unless item.categories.blank? %>
          <strong>Categories:</strong>
          <% for category in item.categories %>
            <p>
              <%= rdfa_dcel_subject sanitize(category.name) %>
            </p>
          <% end %>
        <% end %>
        
        <% unless item.introduction.blank? %>
          <p>
            <strong>Introduction:</strong>
            <%= rdfa_dcel_description sanitize(item.introduction) %>
          </p>
        <% end %>
        <% unless item.date_string.blank? %>
          <p>
            <strong>Date:</strong>
            <%= rdfa_dcel_date  sanitize(item.date_string) %>
          </p>
        <% end %>
        <% unless item.date_details.blank? %>
          <p>
            <strong>Date details:</strong>
            <%= sanitize item.date_details %>
          </p>
        <% end %>
        <% unless item.location.blank? %>
          <p>
            <strong>Location:</strong>
            <%= sanitize item.location %>
          </p>
        <% end %>
        
        
        <% unless item.publisher.blank? %>
          <p>
            <strong>Publisher:</strong>
            <%= rdfa_dcel_publisher sanitize(item.publisher) %>
          </p>
        <% end %>
        <% unless item.publisher_details.blank? %>
          <p>
            <strong>Publisher Details:</strong>
            <%= sanitize item.publisher_details %>
          </p>
        <% end %>        
        <% unless item.seller.blank? %>
          <p>
            <strong>Seller:</strong>
            <%= sanitize item.seller %>
          </p>
        <% end %>
        <% unless item.seller_details.blank? %>
          <p>
            <strong>Seller Details:</strong>
            <%= sanitize item.seller_details %>
          </p>
        <% end %>        
        <% unless item.printer.blank? %>
          <p>
            <strong>Printer:</strong>
            <%= sanitize item.printer %>
          </p>
        <% end %>
        <% unless item.printer_details.blank? %>
          <p>
            <strong>Printer Details:</strong>
            <%= sanitize item.printer_details %>
          </p>
        <% end %>        
        <% unless item.binder.blank? %>
          <p>
            <strong>Binder:</strong>
            <%= sanitize item.binder %>
          </p>
        <% end %>
        <% unless item.binder_details.blank? %>
          <p>
            <strong>Binder Details:</strong>
            <%= sanitize item.binder_details %>
          </p>
        <% end %>
        
        
        
        <% unless item.price.blank? %>
          <p>
            <strong>Price:</strong>
            <%= sanitize item.price %>
          </p>
        <% end %>
        <% unless item.pagination.blank? %>
          <p>
            <strong>Pagination:</strong>
            <%= sanitize item.pagination %>
          </p>
        <% end %>
        <p>
          <strong>Serialized:</strong>
          <%= item.serialized? %>
        </p>
        <% unless item.footnotes.blank? %>
          <p>
            <strong>Footnotes:</strong>
            <%= sanitize item.footnotes %>
          </p>
        <% end %>
        <% unless item.endnotes.blank? %>
          <p>
            <strong>Endnotes:</strong>
            <%= sanitize item.endnotes %>
          </p>
        <% end %>
        <% unless item.index.blank? %>
          <p>
            <strong>Index:</strong>
            <%= sanitize item.index %>
          </p>
        <% end %>
        <% unless item.advertisements.blank? %>
          <p>
            <strong>Advertisements:</strong>
            <%= sanitize item.advertisements %>
          </p>
        <% end %>
        <% unless item.item_binding.blank? %>
          <p>
            <strong>Binding:</strong>
            <%= sanitize item.item_binding %>
          </p>
        <% end %>
        <% unless item.edges.blank? %>
          <p>
            <strong>Edges:</strong>
            <%= sanitize item.edges %>
          </p>
        <% end %>
        <% unless item.dimensions.blank? %>
          <p>
            <strong>Dimensions:</strong>
            <%= sanitize item.dimensions %>
          </p>
        <% end %>
        <p>
          <strong>Foxing:</strong>
          <%= item.foxing? %>
        </p>
        <% unless item.illustrations.blank? %>
          <p>
            <strong>Illustrations:</strong>
            <%= sanitize item.illustrations %>
          </p>
        <% end %>
        <% unless item.provenance.blank? %>
          <p>
            <strong>Provenance:</strong>
            <%= sanitize item.provenance %>
          </p>
        <% end %>
        <% unless item.marginalia.blank? %>
          <p>
            <strong>Marginalia:</strong>
            <%= sanitize item.marginalia %>
          </p>
        <% end %>
        <% unless item.summary_of_contents.blank? %>
          <p>
            <strong>Summary of contents:</strong>
            <%= sanitize item.summary_of_contents %>
          </p>
        <% end %>
        <% unless item.notes.blank? %>
          <p>
            <strong>Notes:</strong>
            <%= sanitize item.notes %>
          </p>
        <% end %>
        <% unless item.references.blank? %>
          <p>
            <strong>References:</strong>
            <%= rdfa_dcel_source sanitize(item.references) %>
          </p>
        <% end %>
        
        
        
        <% unless item.reference_number.blank? %>
          <p>
            <strong>Reference Number:</strong>
            <%= sanitize item.reference_number %>
          </p>
        <% end %>
        <% unless item.city.blank? %>
          <p>
            <strong>City:</strong>
            <%= sanitize item.city %>
          </p>
        <% end %>
        <% unless item.document_type.blank? %>
           <p>
             <strong>Document Type:</strong>
             <%= sanitize item.document_type.name %>
           </p>
         <% end %>
         <% unless item.full_text.blank? %>
           <p>
             <%= link_to "Full Text", site_item_full_text_path(@site, @item) %>
           </p>
         <% end %>
         <% unless item.media_files.blank? %>
           <p id="media_files">
             <strong>Media Files:</strong><br>
             <% item.media_files.each do |media_file| %>
               <%= link_to media_file.display_name, media_file.file.url, :target => "_blank" %>
             <% end %>
           </p>
         <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>