<div id="item_<%= item.id %>">

  <p>
    <strong>Title:</strong>
    <%=h item.title %>
  </p>
  <p>
    <strong>Authors:</strong>
    <% for author in item.authors %>
      <p>
        <%= link_to author.name, site_author_path(@site, author) %>
      </p>
    <% end %>
  </p>
  <p>
    <strong>Reference Number:</strong>
    <%=h item.reference_number %>
  </p>
  <p>
    <strong>Date:</strong>
    <%=h item.date_string %>
  </p>
  <p>
    <strong>Date details:</strong>
    <%=h item.date_details %>
  </p>
  <p>
    <strong>Dimensions:</strong>
    <%=h item.dimensions %>
  </p>
  <p>
    <strong>Pagination:</strong>
    <%=h item.pagination %>
  </p>
  <p>
    <strong>Illustrations:</strong>
    <%=h item.illustrations %>
  </p>
  <p>
    <strong>Location:</strong>
    <%=h item.location %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%=h item.notes %>
  </p>
  <div id="photos">
    <% photos = item.photos %>
    
    <% unless photos.empty? %>
      <div id="current_photo">
        <%= render(:partial => 'photos/large_photo', :object => photos.first) %>
      </div>
    <% end %>
    
    <div id="photo_icons">
      <%= render(:partial => 'photos/small_photo', :collection => photos) %>
    </div>
    
  </div>
</div>
