<% title "Items" %>

<table>
  <tr>
    <th>Title</th>
    <th>First photo</th>
  </tr>
  <% for item in @items %>
    <tr>
      <td><%=h item.title %></td>
      <% if item.photos.first %>
        <td><%= image_tag item.photos.first.photo.url(:thumb), :alt => "" %></td>
      <% end %>
      <td><%= link_to "Show", item %></td>
      <td><%= link_to "Edit", edit_item_path(item) %></td>
      <td><%= link_to "Destroy", item, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Item", new_item_path %></p>
