<% title 'My Sites'  %>

<div id="sites">
  <% current_user.sites.each do |site| %>
  <div id="<%=sanitize(site.name)%>" class="site">
    <div class="site_name"><%= link_to sanitize(site.name), root_url(:subdomain => site.title) %></div>
    <div class="site_menu">
      <%= link_to image_tag("/images/icons/Globe.png", :title => "Site", :alt => "Site", :border => 0, :class => "icon"), edit_siteadmin_path(site, :subdomain => false) %> 
      <%= link_to "Site", edit_siteadmin_path(site, :subdomain => false) %><br />
      <%= link_to image_tag("/images/icons/desktop.png", :title => "Theme", :alt => "Theme", :border => 0, :class => "icon"), edit_sitestyle_path(:subdomain => site.title) %>
      <%= link_to "Theme", edit_sitestyle_path(:subdomain => site.title) %><br />
      <%= link_to image_tag("/images/icons/users.png", :title => "Contributors", :alt => "Contributors", :border => 0, :class => "icon"), memberships_path(:subdomain => site.title) %>
      <%= link_to "Contributors", memberships_path(:subdomain => site.title) %><br />
      <%= link_to image_tag("/images/icons/library.png", :title => site.item_title, :alt => site.plural_item, :border => 0, :class => "icon"), itemadmin_index_path(:subdomain => site.title) %>
      <%= link_to sanitize(site.item_title), itemadmin_index_path(:subdomain => site.title) %><br />
      <%= link_to image_tag("/images/icons/author.png", :title => "Authors", :alt => "Authors", :border => 0, :class => "icon"), authoradmin_index_path(:subdomain => site.title) %> 
      <%= link_to "Authors", authoradmin_index_path(:subdomain => site.title) %><br />
      <%= link_to image_tag("/images/icons/category.png", :title => "Categories", :alt => "Categories", :border => 0, :class => "icon"), categories_path(:subdomain => site.title) %> 
      <%= link_to "Categories", categories_path(:subdomain => site.title) %><br />
      <%= link_to image_tag("/images/icons/document.png", :title => "Document Types", :alt => "Document Types", :border => 0, :class => "icon"), document_types_path(:subdomain => site.title) %>
      <%= link_to "Document Types", document_types_path(:subdomain => site.title) %><br />
      <%= link_to image_tag("/images/icons/heineken.png", :title => "Inspiration", :alt => "Inspiration", :border => 0, :class => "icon"), "http://lmgtfy.com/?q=local+beer+delivery" %> 
      <%= link_to "Inspiration", "http://lmgtfy.com/?q=local+beer+delivery" %><br />
    </div>
  </div>
  <% end %>
</div>

<br />
<%= link_to 'Create a site', new_siteadmin_path %>