<% form_for [@site, @news_post], :url => {:controller => 'user/news_posts', :action => action, :subdomain => @site.title}, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  
  <p><%= f.submit submit_text %></p>
<% end %>