<% form_for @site do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <div id="users">
    <% unless @site.users.blank? %>
      <%= f.label :users %>
      <% for user in @site.users %>
        <div id="existing_user_<%= user.id %>">
          <%= f.label "User: " %><%= user.email %>
          <%= hidden_field_tag "site[users_list][]", "#{user.email}", :id => "existing_user_#{user.id}" %>
          <% unless @site.owner?(user) %>
            <%= link_to_function "[remove user]", "remove_parent_element($(this))", :id => "remove_user_#{user.id}" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <!-- <hack>hidden field so that users_list= will always be called in the model. -1 value is ignored. This is done so removing users will work even when none are being added.</hack> -->
    <%= hidden_field_tag "site[users_list][]", "-1", :id => "hidden_user_-1" %>
  </div>
  <%= link_to_function "Add user", "add_user_div_to_element(#{render(:partial => 'user')}, 'users')" %>
  
  <p><%= f.submit button_label %></p>
<% end %>
