<% form_for @site do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <p>What do you call your artifacts (singular)?</p>
    <%= f.text_field :singular_item %>
  </p>
  <p>
    <p>And the plural version?</p>
    <%= f.text_field :plural_item %>
  </p>
  <p>
    <%= f.label :welcome_blurb %><br />
    <%= f.text_area :welcome_blurb %>
  </p>
  <p>
    <%= f.label :about_project %><br />
    <%= f.text_area :about_project %>
  </p>
  <p>
    <%= f.label :about_procedures %><br />
    <%= f.text_area :about_procedures %>
  </p>
  <p><%= f.submit button_label %></p>
<% end %>
