<% form_for @site do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :welcome_blurb %><br />
    <%= f.text_area :welcome_blurb %>
  </p>
  <p><%= f.submit button_label %></p>
<% end %>
