<% title @site.name %>

<% content_for :header_links do %>
  <% if @site.users.include? current_user %>
    | <%= link_to "Edit this site", edit_site_path(@site) %>
    <% unless @items.empty? %>
    | <%= link_to "Edit this item", edit_site_item_path(@site, @items.first) %>
    <% end %>
  <% end %>
<% end %> 


<p>
  <%=h @site.description %>
</p>

<%= will_paginate @items, :inner_window => 1%>
<% if !@items.blank? %>
  <% for item in @items %>
    <%= render item %>
  <% end %>
<% else %>
  <p>This site doesn't have any items yet</p>
<% end %>