<% title "Site" %>

<p>
  <strong>Name:</strong>
  <%=h @site.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @site.description %>
</p>
<%= link_to "Items", site_items_path(@site) %>

<% if current_user == @site.user %>
    <p>
      <%= link_to "Edit", edit_site_path(@site) %> |
      <%= link_to "View All", account_path %>
    </p>
<% end %>