<%= form.error_messages %>
  <%= form.text_field :email %>
  <%= form.password_field :password %>
  <%= form.check_box :remember_me, :label => "Remember Me"  %>
<p class="submit">
  <%= form.submit "Login" %>
</p>
