
    <%= form.error_messages %>
    <div class="thin_field">
      <%= form.label :email, "Email:" %>
      <%= form.text_field :email %><br />
    </div>
    
    <div class="thin_field">
      <%= form.label :password, "Password:" %>
      <%= form.password_field :password %>
    </div>
    
    <div class="thin_field">
      <%= form.label :remember_me, "Remeber Me:" %><%= form.check_box :remember_me %><br />
    </div>
