<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'new', 'admin' %>
    <%= javascript_include_tag 'mootools', 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <% if !@site || @site.id==nil %>
      <div id="admin-header"><%= link_to "STREETPRINT 5.0 BETA", root_path %></div>
    <% else %>
        <div id="admin-header"><%= link_to "STREETPRINT 5.0 BETA", root_path %> | <%= link_to @site.name, site_path(@site) %> </div>
    <% end %>
    <div id="nav-header">
      <% if !current_user %>
        <%= link_to "Register", new_account_path %> |
        <%= link_to "Log In", login_path %> |
        <%= link_to "Forgot Password", new_password_reset_path %>
      <% else %>
        <%= link_to "Home", admin_path %> |
        <%= link_to "My Account", account_path %> |
        <%= link_to "Logout", logout_path, :method => :delete %>
      <% end %>
    </div>
    <div id="flash">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <!--[if lt IE 7]>
      <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
        <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
        <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
          <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
          <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
            <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
            <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>
          </div>
          <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
          <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
          <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
          <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
        </div>
      </div>
      <![endif]-->
    </div>
    <div id="container">

      <%- if show_title? -%>
        <h1><%= sanitize yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
      <br style="clear: both;"/>
    </div>
    <div id="footer">
      <%= link_to image_tag("sp_org.png", :border=>0), "http://www.streetprint.org" %><br /><br />
      &copy; CRCSTUDIO 2009. All rights reserved.
    </div>
  </body>
</html>
