<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'new', 'admin' %>
    <%= javascript_include_tag 'mootools', 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="admin-header">STREETPRINT 5.0 BETA | ADMIN </div>
    <div id="nav-header">
      <% if !current_user %>
        <%= link_to "Register", new_account_path %> |
        <%= link_to "Log In", login_path %> |
        <%= link_to "Forgot Password", new_password_reset_path %>
      <% else %>
        <%= link_to "Home", admin_path %> |
        <%= link_to "My Account", account_path %> |
        <%= link_to "Logout", logout_path, :method => :delete %>
      <% end %>
    </div>
    <div id="flash">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
    </div>
    <div id="container">

      <%- if show_title? -%>
        <h1><%= sanitize yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
      <br style="clear: both;"/>
    </div>
    <div id="footer">
          <%= link_to image_tag("sp_org.png", :border=>0) %>
    </div>
  </body>
</html>
